<div class="messages-container">
    <div class="message-card">
        <div class="message-infos">
            <span class="user-name"> <%= foundMessage.user %> </span>
            <span class="message-date"> <%= foundMessage.added %> </span>
        </div>
        <div class="message-text"><%= foundMessage.text %></div>
    </div>
</div>