<html>
    <head>
        <link rel="stylesheet" href="/styles.css" />
        <title><%= title %></title>
    </head>
    <body>
        <%- include("components/messageByIdContainer", {title: title,
        foundMessage: foundMessage}) %> 
        <%- include("components/homepageButton") %>
    </body>
</html>
